<!DOCTYPE html>
<html>
<head>
	<title>Ninja Turtles</title>
</head>
<body>
	
	{% if allninjas == True %}
	<img src="../../static/ninjasapp/tmnt.png" alt="TMNT"
	{% endif %}

	{% if color == 'blue' %}
	<img src="../../static/ninjasapp/leonardo.jpg" alt="Leonardo"}
	{% endif %}

	{% if color == 'orange' %}
	<img src="../../static/ninjasapp/michelangelo.jpg" alt="Michelangelo"}
	{% endif %}

	{% if color == 'red' %}
	<img src="../../static/ninjasapp/raphael.jpg" alt="Raphael"}
	{% endif %}

	{% if color == 'purple' %}
	<img src="../../static/ninjasapp/donatello.jpg" alt="Donatello"}
	{% endif %}

	{% if april == True %}
	<img src="../../static/ninjasapp/notapril.jpg" alt="April"}
	{% endif %}


</body>
</html>